<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galary</title>
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
</head>
<body>
  <div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="/" class="navigation__link"><span>01 </span>Home</a></li>
            <li class="navigation__item"><a href="/galary" class="navigation__link"><span>02 </span>Galary</a></li>
            </ul>
    </nav>
</div>
    <nav class="nav">
        <div class="nav__box">
        <a href="/" class="nav__home-link">Sourashtra prohitha sangam</a>
        <li class="nav__links">
            <ul><a href="/#homam" class="nav__link">Homam</a></ul>
            <ul><a href="/#pariharam" class="nav__link">Pariharam</a></ul>
            <ul><a href="/galary" class="nav__link">Galary</a></ul>
        </li>
    </div>
    </nav>
    <main class="main">
        <div class="grid-container">
        <img class="img-1" src="img/galary/1.png" alt="">
        <img class="img-2" src="img/galary/2.png" alt="">
        <img class="img-3" src="img/galary/3.png" alt="">
        <img class="img-4" src="img/galary/4.png" alt="">
        <img class="img-5" src="img/galary/5.png" alt="">
        <img class="img-6" src="img/galary/6.png" alt="">
        <img class="img-7" src="img/galary/7.png" alt="">
        <img class="img-8" src="img/galary/8.png" alt="">
        <img class="img-9" src="img/galary/9.png" alt="">
        <img class="img-10" src="img/galary/10.png" alt="">
        <img class="img-11" src="img/galary/11.png" alt="">
        <img class="img-12" src="img/galary/12.png" alt="">
        <img class="img-13" src="img/galary/13.png" alt="">
        <img class="img-14" src="img/galary/14.png" alt="">
        <img class="img-15" src="img/galary/15.png" alt="">
        <img class="img-16" src="img/galary/16.png" alt="">
        <img class="img-17" src="img/galary/17.png" alt="">
        <img class="img-18" src="img/galary/18.png" alt="">
        <img class="img-19" src="img/galary/19.png" alt="">
        <img class="img-20" src="img/galary/20.png" alt="">
        <img class="img-21" src="img/galary/21.png" alt="">
        <img class="img-22" src="img/galary/22.png" alt="">
        <img class="img-23" src="img/galary/23.png" alt="">
        <img class="img-24" src="img/galary/24.png" alt="">
        <img class="img-25" src="img/galary/25.png" alt="">
    </div>
    </main>
    <div class="separator-box">
        <img class="separator" src="img/separator.svg" alt="separator">
      </div>
    <footer class="footer">
        <div class="links">
          <a href="/" class="link">Home</a>
          <div class="separator"></div>
          <a href="#homam" class="link">Homam</a>
          <div class="separator"></div>
          <a href="#pariharam" class="link">Pariharam</a>
          <div class="separator"></div>
          <a href="/galary" class="link">Galary</a>
        </div>
        <h4 class="copyright">© Sourashtra prohitha sangam. All rights reserved</h4>
      </footer>
</body>
</html>