.services {

    &__box {
        width: 30rem;

        @include respond(phone) {
            margin: 0 auto;
        }
    }

    &__img {
        width: 30rem;
        background-color: #FFE0F4;
        border-radius: .4rem;
    }

    &__title {
        font-size: 1.6rem;
        color: $color-primary-blue;
        display: inline-block;
        margin-left: 1.5rem;
    }

}